.main{
    background-image: url(https://image.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    overflow-y: scroll;
    font-size: 24;
}
#title, #description{ text-align: center;}
